#contact input
{
	margin: 10px  0px;  /* space b/w box*/
	border-radius: 20px;
	box-shadow: 15px 20px 20px rgba(0,0,0,.3),  /*box shadow*/
	inset 4px 4px 10px white;
}
#contact input:hover
{
	box-shadow: inset 5px 5px 10px rgba(0,0,0,.3),  /*box shadow*/
				inset -4px -4px 10px white;
				transition: 2s;
}
